@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

body{
    font-family: 'Tiro Gurmukhi', serif;
}

label{
    font-size: 0.7rem;
}

input.form-control, input.form-control:focus{
    background: white;
}

.error{
    position: absolute;
    color: red;
    font-size: .6rem;
}
